*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh; 
}
.sidebar{
  width: 240px;
  background-color: #1A2942;
}
.logo{
  display: flex;
  justify-content: center;
  width: 200px;
}
.logo h2{
  color: white;
}
.main-list{
  display: flex;
  align-items: center;
  color:#687993;
  padding: 2rem;
}
.btn{
  display: flex;
  padding: 3px;
  border: 1px solid;
  border-radius: 2px;
  gap: 1;
}