*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh; 
  overflow: hidden;
}
.sidebar{
  flex-shrink: 0;
  width: 240px;
  overflow-y: auto;
  background-color: #1A2942;
}
.logo{
  display: flex;
  justify-content: center;
  width: 200px;
}
.logo h2{
  color: white;
}
.sidebar h3{
  color:#687993;
  margin-top: 3rem;
  margin-left: 0.5rem;
}
.sidebar.menu-list{
  display: flex;
  flex-direction: column;
  color:#687993;
  padding: 1rem;
  margin-top: 5rem;
  margin-left: 2rem;
}
.btn{
  width: 100%;
  display: flex;
  justify-content:flex-start;
  margin-top: 1rem;
  padding: 3px;
  gap: 1.5rem;
  background-color: #1A2942;
}
.btn :active,
.btn :focus,
.btn :hover{
 color:  #3BC0C3;
}
.btn span{
  color: #687993;

}
.btn p{
  display: flex;
  justify-content: flex-end;
  border: 1px solid;
  border-radius: 10px;
  background-color: blue;
  color:white;
  padding: 2px;
  margin-left: auto;
}
.btn .fa-angle-right{
  width: 20px;
  height: 20px;
  margin-left: auto;
  color: #687993;
}
.fa-regular,
.fa-suitcase,
.fa-screwdriver-wrench,
.fa-screwdriver,
.fa-circle-notch{
  width: 20px;
  height: 20px;
  color: #687993;
}
.main{
  flex-grow: 1;
  overflow-y: auto;
  background-color: #EAF1F3;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(111, 111, 111, 0.188);
}